//div.main-page
    //label.image-input-label(for='file')
input.image-input(type='file' accept='image/*' id='file')
div.result-window
img.original-image#img(src='/images/white.png')
canvas.canvas#canvas